/home/andrew/OasisPy/OasisPy.egg-info/*
/home/andrew/OasisPy/docs/__pycache__
/home/andrew/OasisPy/docs/_build
/home/andrew/OasisPy/docs/_static
/home/andrew/OasisPy/docs/_templates
/home/andrew/OasisPy/OasisPy/AIS/*
/home/andrew/OasisPy/OasisPy/pyraf/*